*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body{
   height: 100vh;
   max-width: 600px;
   margin: auto;
   background-color: rgb(87, 82, 82);
   font-size: 16px;
}

/* Cabecera */

header {
   display: flex;
   justify-content: flex-end;
   background-color: #8faa80;
   padding: 15px;
   
}

ul{
   padding:0;
}

.header_list li{
   list-style: none;
   display: inline;
   margin: 10px;
   
}

/* Logo y Menu de botones */

.secmain{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   background-color: white;
}

.main_logo{
   padding: 25px ;
}

/* .buttoms{
   /* display: flex; */
   /* padding: 10px; 
}*/
   

.main_buttom{
   margin: 10px;
   width: 70px;
   margin-top: 130px;
   height: 35px;
   border-radius: 10px;
   background-color: rgba(36, 88, 5, 0.205);
   border: none;
   color: white;
}

/* Imagen */

/* .mujer{
   margin-bottom: 0;
} */

.chica_figure{
   background-color: lightsalmon;
}

.miweb{
   background-color: lightsalmon;
   color: white;
   height: 200px;
     
}

/* El Grids */

.grid{
   display: grid;
   /* width: 100%; */
   margin-top: 50px;
   grid-template-columns: repeat(10,10%);
   row-gap: 10px;
   grid-auto-rows: minmax(auto,auto);
   grid-template-areas:
      '. . . . . . . . . .'
      'a a a a a b b b b b' 
      'c c c c c d d d d d'
      'f f f f f g g g g g';
}

.grid_ClasePrivada{
   grid-area: a;
   background-color: aliceblue;
   width: 95%;
   min-height: 220px;
}

.grid_ClaseGrupo{
   grid-area:b;
   background-color:aqua ;
   max-height: 220px;
   }

.grid_tealeft{
   grid-area:c;
}

.grid_trs{
   grid-area: d;
   background-color: white;
}

.grid_trs_right{
   grid-area:f;
   background-color: white;
}

.grid_tearight{
   grid-area: g;
}