@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   height: 100vh;
   max-width: 600px;
   margin: auto;
   background-color: rgb(87, 82, 82);
   font-size: 16px;
   font-family:'Poppins', sans-serif;
}

/* Cabecera */

header {
   display: flex;
   justify-content: flex-end;
   background-color: #8faa80;
   padding: 0.2375em;
   
}

/* ul{
   padding:0;
} */

.header_list li{
   list-style: none;
   display: inline;
   margin: 0.225em;
}

/* Logo y Menu de botones */

.secmain{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   background-color: white;
   height: 170px;
}

.main_logo{
   /* padding: 1.5625em; */
   margin-top: 40px;
   margin-left: 30px;
}

/* .buttoms{
   /* display: flex; */
   /* padding: 10px; 
}*/
   

.main_buttom{
   /* margin: 0.625em; */

   width: 6.375em;
   margin-top: 8.125em;
   height: 2.5875em;
   border-radius: 0.625em;
   background-color: rgba(36, 88, 5, 0.205);
   border: none;
   color: white;
}

.main_buttom:hover{
   background-color:orange;
}

.Porro{
   margin-right: 2.8125em;
}

.lifacehead{
   color: white;
   font-size: 1.25em;
}

.lifacehead:hover{
   color: orange;
}

.litwihead{
   color: white;
   font-size: 1.25em;
}

.litwihead:hover{
   color: orange;
}

.liinsthead{
   color: white;
   font-size: 1.25em;
}

.liinsthead:hover{
   color: orange;
}

/* Parte Visual de Imagen */

/* .mujer{
   margin-bottom: 0;
} */

.chica_figure{
   background-color: rgb(209, 129, 98);;
}

.miweb{
   background-color: rgb(209, 129, 98);
   height: 12.5em; 
   padding-left: 20px;
}

.miwebtitu{
   text-shadow: 2px 7px 11px black;
   font-size: 70px;
   color: rgb(219, 219, 219);
   margin-bottom: 10px;
   font-weight: bold;
}

.miwebparra{
   color: rgb(238, 238, 238);
   font-size: 20px;
   font-weight: normal;
}

/* El Grids */

.grid{
   display: grid;
   /* width: 100%; */
   margin-top: 1.25em;
   font-size: 1em;
   grid-template-columns: repeat(10,10%);
   row-gap: 0.625em;
   grid-auto-rows: minmax(auto,auto);
   grid-template-areas:
      '. . . . . . . . . .'
      'a a a a a b b b b b' 
      'c c c c c d d d d d'
      'f f f f f g g g g g'
      '. . . . . . . . . .';
}

.grid_ClasePrivada{
   grid-area: a;
   background-color: aliceblue;
   width: 95%;
   height: 13.75em;
}

.grid_ClasePrivada section{
   margin-top: 30px;
   margin-left: 30px;
}

.grid_ClaseGrupo section{
   margin-top: 30px;
   margin-left: 30px;
   width: 200px;
}

.grid_ClasePrivada:hover button{
   background-color: orange;
   }

.grid_ClasePrivada button {
   width: 6.375em;
   height: 2.5875em;
   border-radius: 0.625em;
   background-color: rgba(36, 88, 5, 0.205);
   border: none;
   color: white;
}

.grid_ClaseGrupo{
   grid-area:b;
   background-color:aqua ;
   height: 13.75em;
      }

.grid_ClaseGrupo:hover button{
   background-color: orange;
   }

.grid_ClaseGrupo button {
   width: 6.375em;
   height: 2.5875em;
   border-radius: 0.625em;
   background-color: rgba(36, 88, 5, 0.205);
   border: none;
   color: white;
}

.grid_tealeft{
   grid-area:c;
   
}

.grid_trs{
   grid-area: d;
   background-color: white;
   height: 13.75em;
}

.grid_trs:hover button{
   background-color: orange;
   }

.grid_trs button {
   width: 6.375em;
   height: 2.5875em;
   border-radius: 0.625em;
   background-color: rgba(36, 88, 5, 0.205);
   border: none;
   color: white;
}

.grid_trs_right{
   grid-area:f;
   background-color: white;
   height: 13.75em;
}

.grid_trs_right:hover button{
background-color: orange;
}

.grid_trs_right button {
   width: 6.375em;
   height: 2.5875em;
   border-radius: 0.625em;
   background-color: rgba(36, 88, 5, 0.205);
   border: none;
   color: white;
}

.grid_tearight{
   grid-area: g;
}


/* SECCION DDE PREGUNTAS TIPICAS */

.preguntas_tipicas{
   background-color: #8faa80;
   text-align: center;
   height: 13.75em;
   padding-top: 1.875em;
}

.preguntas_tipicas_titulo{
   margin-bottom: 1.25em;
   font-size: 1.25em;
}

.preguntas_tipicas_parrafo{
   margin-bottom: 1.875em;
}

.mas_posts{
   background-color: white;
   margin-top: 1.875em;
   /* display: flex; */ 
}

.mas_posts figure{
   margin-left: 350px;
}

.mas_posts p{
   width: 300px;
}

.mas_posts_segundo{
   background-color: white;
   margin-top: 1.87em;
}

footer{
   text-align: center;
   margin-top: 2.125em;
   border-top: 1px solid white;
   padding-top: 1.5625em;
}

footer small {
   color:white
}

footer ul{
   display: flex;
   justify-content:center;
}

footer li{
   padding: 15px;
   list-style: none;
}