*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body{
   height: 100vh;
   max-width: 600px;
   margin: auto;
   background-color: rgb(87, 82, 82);
   font-size: 16px;
}

/* Cabecera */

header {
   display: flex;
   justify-content: flex-end;
   background-color: #8faa80;
   padding: 0.9375em;
   
}

ul{
   padding:0;
}

.header_list li{
   list-style: none;
   display: inline;
   margin: 0.625em;
   
}

/* Logo y Menu de botones */

.secmain{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   background-color: white;
}

.main_logo{
   padding: 1.5625em ;
}

/* .buttoms{
   /* display: flex; */
   /* padding: 10px; 
}*/
   

.main_buttom{
   margin: 0.625em;
   width: 4.375em;
   margin-top: 8.125em;
   height: 2.1875em;
   border-radius: 0.625em;
   background-color: rgba(36, 88, 5, 0.205);
   border: none;
   color: white;
}

/* Imagen */

/* .mujer{
   margin-bottom: 0;
} */

.chica_figure{
   background-color: lightsalmon;
}

.miweb{
   background-color: lightsalmon;
   color: white;
   height: 12.5em;
     
}

/* El Grids */

.grid{
   display: grid;
   /* width: 100%; */
   margin-top: 1.25em;
   grid-template-columns: repeat(10,10%);
   row-gap: 0.625em;
   grid-auto-rows: minmax(auto,auto);
   grid-template-areas:
      '. . . . . . . . . .'
      'a a a a a b b b b b' 
      'c c c c c d d d d d'
      'f f f f f g g g g g'
      '. . . . . . . . . .';
}

.grid_ClasePrivada{
   grid-area: a;
   background-color: aliceblue;
   width: 95%;
   height: 13.75em;
}

.grid_ClaseGrupo{
   grid-area:b;
   background-color:aqua ;
   height: 13.75em;
      }

.grid_tealeft{
   grid-area:c;
   
}

.grid_trs{
   grid-area: d;
   background-color: white;
   height: 13.75em;
}

.grid_trs_right{
   grid-area:f;
   background-color: white;
   height: 13.75em;
}

.grid_tearight{
   grid-area: g;
}

.preguntas_tipicas{
   background-color: #8faa80;
   text-align: center;
   height: 13.75em;
   padding-top: 1.875em;
}

.preguntas_tipicas_titulo{
   margin-bottom: 1.25em;
   font-size: 1.25em;
}

.preguntas_tipicas_parrafo{
   margin-bottom: 1.875em;
}

.mas_posts{
   background-color: white;
   margin-top: 1.875em;
   /* display: flex; */ 
}

.mas_posts figure{
   margin-left: 350px;
}

.mas_posts p{
   width: 300px;
}

.mas_posts_segundo{
   background-color: white;
   margin-top: 1.87em;
}

footer{
   text-align: center;
   margin-top: 2.125em;
   border-top: 1px solid white;
   padding-top: 1.5625em;
}

footer small {
   color:white
}

footer ul{
   display: flex;
   justify-content:center;
}

footer li{
   padding: 25px;
   list-style: none;
}