*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body{
   height: 100vh;
   width: 100%;
}

/* Cabecera */

header {
   display: flex;
   justify-content: flex-end;
   background-color: rgba(36, 88, 5, 0.205);
   padding: 15px;
   
}

.header_list li{
   list-style: none;
   display: inline;
   margin: 10px;
}

/* Logo y Menu de botones */

.secmain{
   display: flex;
   justify-content: space-between;
}

.main_logo{
   padding: 25px ;
}

/* .buttoms{
   /* display: flex; */
   /* padding: 10px; 
}*/
   

.main_buttom{
   margin: 10px;
   width: 70px;
   margin-top: 130px;
   height: 35px;
   border-radius: 10px;
   background-color: rgba(36, 88, 5, 0.205);
   border: none;
}
